src/modules/links/resources/schema/links.rng

<element name="links" ns="http://apache.org/lenya/pubs/default/1.0" xmlns="http://relaxng.org/ns/structure/1.0">

  <optional>
    <element name="title">
      <text/>
    </element>
  </optional>

  <zeroOrMore>
    <element name="link">
      <attribute name="href"/>
      <text/>
    </element>
  </zeroOrMore>

</element>
