src/webapp/lenya/pubs/unipublic/config/doctypes/schemas/article.xsd

<?xml version="1.0"?>
<xs:schema xmlns:up="http://www.unipublic.unizh.ch/2002/up" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.unipublic.unizh.ch/2002/up" schemaLocation="up.xsd" />
  <xs:element name="NewsML">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="NewsItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="Catalog" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="Href" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element ref="NewsEnvelope" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsItem">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="NewsComponent" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="Identification" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="NewsManagement" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsComponent">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="NewsComponent" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="ContentItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="TopicSet" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="Role" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="FormalName" use="required" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element ref="NewsLines" minOccurs="0" maxOccurs="1"></xs:element>
          <xs:element ref="AdministrativeMetadata" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="RightsMetadata" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="DescriptiveMetadata" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="NewsItemRef" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="NewsItem" use="required" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:choice></xs:sequence>
      <xs:attribute name="EquivalentsList" use="required" type="xs:string"/>
      <xs:attribute name="Essential" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentItem">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="DataContent" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="MediaType" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="FormalName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="MimeType" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="FormalName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataContent">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="nitf" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="related-content" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nitf">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="body" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="head" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="related-content">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
  <xs:element name="block" minOccurs="1" maxOccurs="unbounded">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
<!--
          <xs:element ref="item" minOccurs="1" maxOccurs="unbounded"></xs:element>
-->
          <xs:element name="item" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="body">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="body.content" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="body.head" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="body.end" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body.content">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="block" minOccurs="1" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="block">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="media" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="p" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="hl2" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="p">
    <xs:complexType mixed="true">
        <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="b" type="xs:string" />
            <xs:element name="i" type="xs:string" />
<!--
            <xs:element name="br" />
-->
          </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="media">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
<!--
          <xs:element ref="up:authorline" minOccurs="0" maxOccurs="unbounded"/>
-->
          <xs:element name="authorline" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="media-reference" minOccurs="1" maxOccurs="1">
            <xs:complexType mixed="true">
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="alternate-text" type="xs:string"/>
<!--
              <xs:attribute name="alternate-text" use="required" type="xs:string"/>
-->
              <xs:attribute name="copyright" type="xs:string"/>
              <xs:attribute name="mime-type" type="xs:string"/>
              <xs:attribute name="source" use="required" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="media-caption" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:choice></xs:sequence>
      <xs:attribute name="media-type" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>



  <xs:element name="body.head">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="dossier" minOccurs="0" maxOccurs="1"/>
          <xs:element name="spitzmarke" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="media" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="dateline" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="byline" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="teasertext" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="hedline" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="dossier">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="dateline">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="story.date" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="norm" type="xs:string"/>
              <xs:attribute name="millis" type="xs:string"/>
              <xs:attribute name="year" type="xs:string"/>
              <xs:attribute name="month" type="xs:string"/>
              <xs:attribute name="day" type="xs:string"/>
              <xs:attribute name="hour" type="xs:string"/>
              <xs:attribute name="minute" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body.end">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="tagline" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="hedline" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="hedline">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="hl1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="TopicSet">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Topic" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Topic">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="TopicType" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopicType">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="FormalName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
      <xs:attribute name="FormalName" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsLines">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="HeadLine" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="ByLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="DateLine" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="day" type="xs:int"/>
              <xs:attribute name="month" type="xs:int"/>
              <xs:attribute name="year" type="xs:int"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="CreditLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="CopyrightLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="SlugLine" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdministrativeMetadata">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="SystemIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RightsMetadata">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Copyright" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copyright">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="CopyrightHolder" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescriptiveMetadata">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Language" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="FormalName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element ref="SubjectCode" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectCode">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Subject" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="FormalName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identification">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="NewsIdentifier" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsIdentifier">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="ProviderId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="DateId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="NewsItemId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="RevisionId" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType mixed="true">
              <xs:choice minOccurs="0" maxOccurs="0"/>
              <xs:attribute name="PreviousRevision" type="xs:int"/>
              <xs:attribute name="Update" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="PublicIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsManagement">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="FirstCreated" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ThisRevisionCreated" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="RevisionDate" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:attribute name="year" type="xs:string"/>
              <xs:attribute name="month" type="xs:string"/>
              <xs:attribute name="day" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="PublishDate" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:attribute name="year" type="xs:string"/>
              <xs:attribute name="month" type="xs:string"/>
              <xs:attribute name="day" type="xs:string"/>
              <xs:attribute name="hour" type="xs:string"/>
              <xs:attribute name="minute" type="xs:string"/>
              <xs:attribute name="millis" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NewsEnvelope">
    <xs:complexType mixed="true">
      <xs:sequence><xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="TransmissionId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="DateAndTime" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice></xs:sequence>
    </xs:complexType>
  </xs:element>


<!-- Related Content Elements -->


<xs:element name="item">
  <xs:complexType mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="a">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="href" use="required" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>


<!-- /Related Content Elements -->

</xs:schema>
